PORT=4000
DATABASE_URL="file:./dev.db"
DSP_API_URL="http://localhost:3000/v1"
DSP_API_KEY="dsp_live_marketplace_bolivia_2026"
CORS_ORIGINS="http://localhost:3000,http://localhost:3001,http://localhost:5173"
